<h1>Créditos</h1>

<p>

    Esta práctica ha sido desarrollada por Clara Beltrán Weill y María Arrillaga Gonzalez.
</p>

<p>
    El URL de la práctica en GitHub es el siguiente: https://github.com/clarabeltran/quiz_2017/tree/practica51
</p>

<img src="/images/Clara.jpg" />
<img src="/images/Maria.jpg" />





