<h1>Ayuda</h1>

<p>

El proyecto QUIZ es una red social donde los usuarios pueden crear adivinanzas y compartirlas entre ellos.
Es muy sencillo de utilizar, basta con elegir un usuario en los que est치n presentados en la p치gina y tratar de contestar a la pregunta indicada.
Al validar la respuesta, la p치gina del QUIZ mostrar치 la respuesta correcta.

</p>






